@font-face {
  font-family: "VALORANT";
  src: url("/Users/daisukemuraishi/Library/Fonts/Valorant Font.ttf");
}

* {
  box-sizing: border-box;
}

button:hover {
  color: black;
  background-color: crimson;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0.7;
}
button {
  background-color: black;
  color: crimson;
  transition: all 0.5s;
}

.id-input::placeholder {
  text-align: center;
}

.GrayScale {
  filter: grayscale(1);
}

body {
  font-family: VALORANT;

  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.right-container {
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.left-container {
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title-container {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-name {
  color: rgb(255, 255, 255);
  font-size: 70px;
  margin-bottom: 0%;
}

.id-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: 15%;
  outline: 2px solid azure;
}

.id-title {
  font-size: 30px;
  color: azure;
  margin: 10px;
}

.new-id {
  font-size: 35px;
  color: azure;
  margin-top: 0;
}

.rank-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: 15%;
  outline: 2px solid azure;
}

.rank-title {
  font-size: 30px;
  color: azure;
  margin: 10px;
}

.rank-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.rank-icons img {
  width: 10%;
  height: auto;
}

.RankIcon1 {
  width: 45%;
  height: auto;
}

.favorite-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: 18%;
  outline: 2px solid azure;
}

.favorite-container p {
  font-size: 30px;
  color: azure;
}

.agent-container {
  background-color: rgb(0, 0, 0, 0.5);
  outline: 2px solid azure;
  height: 60vh;
}

.agent-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.agent-title {
  font-size: 30px;
  color: azure;
  padding-top: 15px;
}

.type-name {
  font-size: 30px;
  color: azure;
}

.agent-container img {
  width: 12%;
  height: auto;
  opacity: 0.8;
}

.icon {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.comment-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: 26%;
  outline: 2px solid azure;
}

.comment-title {
  font-size: 30px;
  color: azure;
}

.comment-container textarea {
  height: 50%;
  width: 70%;
}

.new-text {
  font-size: 15px;
  color: azure;
}
