@font-face {
  font-family: "VALORANT";
  src: url("/Users/daisukemuraishi/Library/Fonts/Valorant Font.ttf");
}

* {
  box-sizing: border-box;
}

.border {
  border: solid 2px rgb(240, 255, 255);
  border-radius: 10px;
  padding: 4px;
}

.GrayScale {
  filter: grayscale(1);
  margin: 0;
}

body {
  font-family: VALORANT;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.main-container-inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.right-container {
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 44px 0;
}

.left-container {
  width: 47vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 44px 0;
}

.title-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-name {
  color: rgb(255, 255, 255);
  font-size: 60px;
  margin: 0;
  padding: 65px 0 15px 0;
}

.id-container {
  background-color: rgba(0, 0, 0, 0.5);

  height: auto;
  border: 2px solid rgb(240, 255, 255, 0.7);
}

.new-id-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100vh;
}

.id-title {
  font-size: 30px;
  color: azure;
  margin: 10px 0 15px 0;
}

.TextField-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.new-id {
  font-size: 35px;
  color: azure;
  margin: 0;
}
.id1 {
  margin-right: 15px !important;
}

.idtag-button {
  display: flex;
  justify-content: flex-end;
}

.rank-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: auto;
  border: 2px solid rgb(240, 255, 255, 0.7);
}

.rank-title {
  font-size: 30px;
  color: azure;
  margin: 10px 0 15px 0;
}

.rank-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
}

.rank-icons img {
  width: 10%;
  height: auto;
}

.RankIcon1 {
  width: 45%;
  height: auto;
}

.thebullethit-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: auto;
  border: 2px solid rgb(240, 255, 255, 0.7);
}

.thebullethit-title {
  font-size: 30px;
  color: azure;
  margin: 10px 0 15px 0;
}

.lineProgress {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px;
}

.hit-per {
  color: azure;
  font-size: 25px;
  margin: 10px;
}

.agent-container {
  background-color: rgb(0, 0, 0, 0.5);
  border: 2px solid rgb(240, 255, 255, 0.7);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.agent-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.agent-title {
  font-size: 30px;
  color: azure;
  margin: 10px 0 15px 0;
}

.type-name {
  font-size: 25px;
  color: azure;
  margin: 0 0 0 10px;
}
.type-name hr {
  margin: 0 20px 10px 20px;
}

.agent-container img {
  width: 12%;
  height: auto;
  opacity: 0.8;
}

.agent-icon-container-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.icon {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.comment-container {
  background-color: rgb(0, 0, 0, 0.5);

  height: auto;
  border: 2px solid rgb(240, 255, 255, 0.7);
}

.comment-title {
  font-size: 30px;
  color: azure;
  margin: 10px 0 15px 0;
}

.comment-field {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0 15px 30px;
}

/* Commentのボタン */
.css-1i749hr-MuiButtonBase-root-MuiButton-root {
  margin-right: 20px !important;
}

.new-text {
  font-size: 25px;
  color: azure;
}

.save-btn-container {
  right: 2vw;
  display: flex;
  position: absolute;
  bottom: 0.5vh;
}

@media (max-width: 768px) {
  .main-container-inner {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .left-container {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
  }
  .right-container {
    width: 95vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
  }
  .id-container {
    margin-bottom: 20px;
  }
  .rank-container {
    margin-bottom: 20px;
    height: auto;
  }
  .thebullethit-container {
    margin-bottom: 20px;
  }

  .app-name {
    font-size: 40px;
    padding: 40px 0 15px 0;
  }

  .new-id {
    font-size: 20px;
  }

  .TextField {
    display: flex;
    align-items: baseline;
    margin: 10px 0;
  }

  .TextField-container {
    display: flex;
    justify-content: center;
    margin: 0 10px 10px 10px;
    align-items: center;
  }

  .agent-container img {
    width: 12%;
    height: auto;
    opacity: 0.8;
  }
  .title {
    font-size: 25px;
  }

  .agent-container {
    height: auto;
    margin-bottom: 20px;
  }
  .rank-icons {
    margin-bottom: 15px;
  }

  .rank-icons img {
    margin: 0;
    width: 10%;
    height: auto;
  }
  .comment-container {
    margin-bottom: 20px;
  }
  .comment-field {
    margin: 0 10px 15px 20px;
  }

  .type-name,
  .hit-per {
    font-size: 20px;
  }

  .lineProgress {
    display: flex;
    justify-content: center;
    margin: 40px;
  }

  .save-btn-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-evenly;
    width: 95vw;
    margin: 15px 0 40px 0;
    right: unset;
    bottom: unset;
  }
}
